<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Martin Sütt</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner">
  <h1>Martin Sütt</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
  <hr>
  <ul>
	  <li><a href="/">Avalehele</a></li>
    <li><a href="/eestifilm/filmiandmetelisamine">Lisa filme, filmitegelasi ja nende roll filmis</a></li>
	  <li><a href="/eestifilm/tegelased">Eesti filmitegelased</a></li>
  </ul>
  <hr>
  <h2>Eesti filmi avaleht</h2> 
</body>
</html>