<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Martin Sütt</title>
    <style>
      body {
        background-color: rgb(143, 143, 143);
        height: 200vh;
      }
    </style>
  </head>
  <body>
    <img
      src="/banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse bänner"
    />
    <h1>Martin Sütt</h1>
    <p>
      See leht on loodud õppetöö raames
      <a href="https://www.tlu.ee" target="blank">Tallinna Ülikoolis</a> ja ei
      sisalda tõsiseltvõetavat sisu.
    </p>
    <hr />
    <ul>
      <li><a href="/home">Avaleht</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="/news/addnews">Uudise lisamine</a></li>
      <li><a href="/news/read">Uudiste lugemine</a></li>
    </ul>
    <hr />
  </body>
</html>
