<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Martin Sütt</title>
  </head>
  <body>
    <img
      src="/banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse bänner"
    />
    <h1>Martin Sütt</h1>
    <p>
      See leht on loodud õppetöö raames
      <a href="https://www.tlu.ee" target="blank">Tallinna Ülikoolis</a> ja ei
      sisalda tõsiseltvõetavat sisu.
    </p>
    <hr />
    <ul>
      <li><a href="/">Avaleht</a></li>
    </ul>
    <hr />
    <h2>Pöidlapiltide galerii</h2>
    <% if (notice) { %>
    <p><strong><%= notice %></strong></p>
    <% } %>
    <ul>
      <% if (photos.length > 0) { %> <% photos.forEach(photo => { %>
      <li>
        <img
          src="/gallery/thumb/<%= photo.file_name %>"
          alt="<%= photo.alt_text %>"
        />
        <p><%= photo.orig_name %></p>
      </li>
      <% }); %> <% } else { %>
      <li>Pöidlapiltide galerii on tühi</li>
      <% } %>
    </ul>
  </body>
</html>
